<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MusicEffectCounter</key>
	<array>
        <key>Item 0</key>
        <integer>68</integer>
    </array>
	<key>MusicEffectPosition</key>
	<array>
		<array>
			<integer>4</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>16</integer>
			<integer>18</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>23</integer>
			<integer>24</integer>
			<integer>25</integer>
			<integer>26</integer>
			<integer>28</integer>
			<integer>30</integer>
			<integer>31</integer>
			<integer>32</integer>
			<integer>36</integer>
			<integer>39</integer>
			<integer>40</integer>
			<integer>43</integer>
			<integer>44</integer>
			<integer>46</integer>
			<integer>48</integer>
			<integer>50</integer>
			<integer>52</integer>
			<integer>53</integer>
			<integer>54</integer>
			<integer>55</integer>
			<integer>56</integer>
			<integer>57</integer>
			<integer>58</integer>
			<integer>60</integer>
			<integer>62</integer>
			<integer>63</integer>
			<integer>64</integer>
		</array>
	</array>
	<key>MusicEffect</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>7</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>7</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
		</array>
	</array>
	<key>New item</key>
	<string></string>
</dict>
</plist>
